<% obj.order(id: :desc).where(admin: :false).each do |customer| %>
    <% if !customer.orderables.empty? %>
        <tr>
            <td><%= customer.username %></td>
            <td><%= customer.orderables.count %> <%= customer.orderables.count <= 1 ? 'product' : 'products' %></td>
            <td><%= link_to 'Detail', profile_path(customer), class:"btn btn-sm btn-primary" %></td>
        </tr>
    <% end %>
<% end %>
