<% obj.order(id: :desc).each do |product| %>
    <tr>
        <td>-</td>
        <td>empty<% product.images %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= truncate(product.description, length: 20) %></td>
        <td>Test</td>
    </tr>
<% end %>