<div class="container mt-4">
    <h1>All Chat</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">USER</th>
      <th scope="col">Topic</th>
    </tr>
  </thead>
  <tbody>
    <% @chatboxes.each do |chatbox| %>
    <tr>
    
        <th scope="row">1</th>
        <th>
            <%= link_to chatbox.user.username, profile_path(chatbox.user_id) %>
        </th>
        <th>
            <%= link_to chatbox.topic, admin_chatroom_path(chatbox) %>
        </th>
    </tr>
    <% end %>
  </tbody>
</table>

</div>

