<div class="container-fluid px-4">
    <h2 class="mt-4">All Chat</h2>
    <div class="list-group">
      <% @chatboxes.order(id: :desc).each do |chatbox| %>
        <a href="<%= admin_chatroom_path(chatbox) %>" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">From: <%= chatbox.user.username %></h5>
            <small><%= time_ago_in_words(chatbox.created_at) %> ago</small>
          </div>
          <p class="mb-1"><%= chatbox.topic %></p>
          <%# <small>And some small print.</small> %>
        </a>
      <% end %>
    </div>
</div>

