<p>
  <strong>Brand name:</strong>
  <%= @homepagess.brand_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @homepagess.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @homepagess.description %>
</p>