<div class="container-fluid px-4">
    <div class="card mb-3 mt-4 bg-light">
        <div class="card-body">
            <%= link_to 'Delete', admin_homepagess_path(@homepagess), class:"btn btn-lg
            btn-outline-dark", method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to 'Back', :back, class:"btn btn-lg btn-outline-dark
            float-end" %>
        </div>
    </div>
    <div class="mb-4 border border-secondary">
        <%= render 'form', homepagess: @homepagess %>
    </div>
</div>
