<div class="container-fluid px-4">
    <h1 class="mt-4 mb-3">New Homepagess</h1>
    <div class="mb-4 border border-secondary">
        <%= render 'form', homepagess: @homepagess %>
    </div>
</div>
