<div class="container-fluid px-4">
    <div class="card mb-3 mt-4 bg-light">
        <div class="card-body">
            <%= link_to 'Edit', edit_admin_homepagess_path(@homepagess), class:"btn btn-lg
            btn-dark" %>
            <%= link_to 'Delete', admin_homepagess_path(@homepagess), class:"btn btn-lg
            btn-dark", method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to 'Exit', admin_pages_dashboard_path, class:"btn btn-lg btn-dark
            float-end" %>
        </div>
    </div>
    <div class="mb-4 border border-secondary">
        <%= render 'admin/homepagesses/home' %>
    </div>
</div>
