<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://deneenpottery.com/wp-content/uploads/2018/09/what-about-pottery-resonates-so-much.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>