<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <%# <div class="carousel-item active"> %>
    <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://deneenpottery.com/wp-content/uploads/2018/09/what-about-pottery-resonates-so-much.jpg');background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">

      <%# <img src="https://deneenpottery.com/wp-content/uploads/2018/09/what-about-pottery-resonates-so-much.jpg" class="d-block w-100" alt="..."> %>
    </div>
  </div>
</div>