<!-- About-->
<section class="page-section text-white" id="about" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://www.potterymakinginfo.com/wp-content/uploads/2010/08/speckled-bisque-1600x1200.jpg');background-repeat: no-repeat;background-attachment: scroll;background-position: center center;background-size: cover;">
    
    <%= render 'admin/abouts/about', obj: @abouts %>

</section>
