<% if user_signed_in? && current_user.admin? %>
    <%# home view for admin %>
    <h1 class="h2">Dashboard</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Images</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            <%= render 'admin/pages/dashboard', obj: @products %>
            </tbody>
        </table>
    </div>
    <%# end of home view for admin %>
<% else %>
    <%# home view for all user %>
    <%= render 'admin/homepagesses/home' %>
    <%# end of home view for all user %>
<% end %>