<div class="container">
  <div class="sticky-div-container">
    <div class="card mb-3 bg-light">
      <div class="card-body">
        <h1 class="text-center mb-4">Editing Product</h1>
        <%= link_to 'View', admin_product_path(@product), class:"btn btn-lg btn-outline-dark" %>
        <%= link_to 'Delete', admin_product_path(@product), class:"btn btn-lg btn-outline-dark", method: :delete, data: { confirm: "Are you sure?" } %>
        <%= link_to 'Back', :back, class:"float-end btn btn-lg btn-outline-dark" %>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <%#  %>
        <div id="carouselExampleIndicators" class="sticky-div carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://img.freepik.com/free-photo/woman-showing-pinterest-icon_53876-40589.jpg?w=2000" class="w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://img.freepik.com/free-photo/woman-showing-pinterest-icon_53876-40589.jpg?w=2000" class="w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://img.freepik.com/free-photo/woman-showing-pinterest-icon_53876-40589.jpg?w=2000" class="w-100 rounded" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <%#  %>
      </div>
      <div class="col">
        <%= render 'form', product: @product %>
      </div>
    </div>
  </div>
</div>

