<div class="container-fluid px-4">
    <h1 class="text-center mt-4 mb-4">New Product</h1>
    <div class="card mb-3 bg-light">
      <div class="card-body">
        <%= link_to 'Back', :back, class:"zindex-2 end-0 btn btn-lg btn-dark" %>
      </div>
    </div>
    <div class="mb-4">
      <%= render 'form', product: @product %>
    </div>
</div>
