@import 'bootstrap/dist/css/bootstrap';

html,
body {
    height: 100%;
}


#page-content {
    flex: 1 0 auto;
}

.navbar-brand {
    font-size: 2rem;
}

footer {
    // position: fixed;
    height: 65px;
    bottom: 0;
    width: 100%;
}

.padding-text {
    padding-top: 20px;
}

.zindex {
    z-index: 2;
    position: absolute;
}

.zindex-2 {
    z-index: 2;
    position: absolute;
    top: 18px;
    margin-right: 5px;
}


.shadow-top-custom {
    // box-shadow normal
    box-shadow: 0 -0.5rem 1rem rgba(black, .15);
        -webkit-box-shadow: 0 -0.5rem 1rem rgba(black, .15);
        -moz-box-shadow: 0 -0.5rem 1rem rgba(black, .15);
}

// alert
.alert-message {
    animation: mymove 6s;
    visibility: hidden;
    top: 10px;
    z-index: 999;
}

@keyframes mymove {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

// 

.sticky-div-container {
    // display: flex;
    align-items: flex-start;
    // justify-content: space-around;
    // margin-bottom: 3rem;
    // border: 2px dashed rgba(114, 186, 94, 0.35);
    // height: 400px;
    // background: rgba(114, 186, 94, 0.05);
}

.sticky-div {
    // background-color: red;
    position: sticky;
    top: 6.5rem;
}

.justify-text {
    text-align: justify;
}

.center-pict{
    margin-left: auto;
    margin-right: auto;
    display: block;
}