<%= content_tag "div", id: "upvote-#{product.id}" do %>
  <%= link_to upvote_product_path(product), method: :patch, remote: true, data: { disable_with: "voting..." } do %>
    <%# <%= link_to upvote_product_path(product), method: :patch, remote: true do %> 
    <% if current_user.voted_up_on? product %>
      <%# unvote %>
      <h3>
        <i class="bi bi-heart-fill"></i>
      </h3>
    <% else %>
      <%# vote! %>
      <h3>
        <i class="bi bi-heart"></i>
      </h3>
    <% end %>
  <% end %>
<% end %>
